* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #ffffff;
    line-height: 1.6;
}

header {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
height: 100px;
overflow: hidden;
background-color: #db055b;
padding: 20px;
text-align: center;
color: #fff;
}

header h2 {
flex-basis: 100%;
font-size: 36px;
margin-bottom: 10px;
}



@media screen and (max-width: 575px) {
    header {
        height: auto;
        padding: 10px;
    }
@font-face {
        font-family: 'Trench';
        src: url('C:\Users\mirun\Desktop\UniHackRosu\trench100free.otf') format('Trench');
      }

    header h2 {
        font-size: 12px;
        margin-bottom: 0;
        text-align: center;
        color: black;
    }

    .artwork-item {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .artwork-item img {
        height: auto;
    }

    #contact label {
        font-size: 36px;
    }

    #contact input,
    #contact textarea {
        width: 100%;
        max-width: 100%;
        font-size: 18px;
        padding: 8px;
    }

    #contact button {
        font-size: 16px;
    }

    .object {
        margin: 20px 0;
    }

    .circle {
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }

    .rounded-box p {
        font-size: 14px; 
    }

    .pink-button {
        padding: 15px 30px; 
        font-size: 18px;
    }
}

nav {
    background-color: #db055b;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

nav ul li a:hover {
    background-color: #ea0451;
}

.artwork-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.artwork-item {
    width: 300px;
    height: 300px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.artwork-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.artwork-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artwork-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.artwork-item:hover .overlay {
    opacity: 1;
}

.artwork-item .overlay i {
    font-size: 40px;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

.artwork-item:hover .overlay i {
    transform: scale(1.2);
}
.overlay-text {
font-size: 24px;
color: #fff;
 margin-bottom: 10px;
}


footer {
    background-color: #db055b;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size:30px;}

footer p {
    margin-bottom: 5px;
    font-family: 'Trench';
}

footer a {
    color: #fff;
    font-family: 'Trench';
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #666;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('medic.jpg');
    background-size: cover;
    background-position: center;
}
.banner-overlay {
    font-family: 'Trench';
    position: absolute;
    top: 0;
    right: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.banner-menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

.banner-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    margin-left: 20px;
    position: relative;
}

.banner-menu a:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 50%; 
    width: 1px;
    background-color: #fff;
    margin-left: 10px;
    transform: translateY(-50%);
}
.banner-overlay.hide {
    opacity: 0;
}


.banner p {
    font-family: 'Trench';
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
}

                    
@media screen and (max-width: 767px) {
    .object-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .object {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px; 
        width: calc(50% - 40px); 
    }

    .circle {
        width: 80px;
        height: 80px; 
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ea0451;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .rounded-box {
        width: 80%; 
        max-width: 150px; 
        height: 30px;
        background-color: #ea0451;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .rounded-box p {
        font-family: 'Trench';
        color: #fff;
        font-size: 14px;
        margin: 0;
    }

    .button-container {
        text-align: center;
        width: 100%; 
    }

    .pink-button {
        background-color: #db055b; 
        color: #fff; 
        padding: 20px 40px;
        border: none;
        border-radius: 10px;
        font-size: 24px;
        cursor: pointer;
        font-family: 'Trench';
    }
    .bandage-icon {
        width: 40px;
        height: 40px;
    }

    .map-icon {
        width: 120px;
        height: 120px;
    }

    .computer-icon {
        width: 120px;
        height: 120px;
    }

    .hands-icon {
        width: 80px;
        height: 80px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0; 
    }

    .pink-button {
        background-color: #db055b;
        color: #fff;
        padding: 20px 40px;
        border: none;
        border-radius: 10px;
        font-size: 24px;
        cursor: pointer;
        font-family: 'Trench';
    }

    .object-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .object {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px; 
    }

    .circle {
        width: 200px; 
        height: 200px; 
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ea0451;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .icon {
        width: 80px; 
        height: 80px; 
    }

    .rounded-box {
        width: 200px; 
        height: 60px; 
        background-color: #ea0451;
        border-radius: 15px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .rounded-box p {
        font-family: 'Trench';
        color: #fff;
        font-size: 24px; 
        margin: 0;
    }
    
    .bandage-icon {
        width: 120px;
        height: 120px; 
    }

    .map-icon {
        width: 180px; 
        height: 180px; 
    }

    .computer-icon {
        width: 180px; 
        height: 180px; 
    }

    .hands-icon {
        width: 150px; 
        height: 150px; 
    }
} 
footer {
    background-color: #db055b;
    padding: 20px; 
    text-align: center;
    color: #fff;
    font-size: 18px; 
}

footer p {
    margin-bottom: 10px; 
    font-family: 'Trench';
}

footer a {
    color: #fff;
    font-family: 'Trench';
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #666;
}


@media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
#header h1 {
font-size: 100px;
}

#footer h2 {
font-size: 100px;
}

#contact h2 {
font-size: 100px;

}

#contact label {
font-size: 100px;
}

#contact input,
#contact textarea {
width: 100%;
max-width: 350px;
font-size: 24px;
padding: 12px;
}

#contact button {
font-size: 22px;
}
}

@media screen and (min-width: 577px) and (max-width: 992px) {
#header h1 {
font-size: 48px;
}

#footer h2 {
font-size: 32px;
}

#contact h2 {
font-size: 36px;
}

#contact label {
font-size: 100px;
}

#contact input,
#contact textarea {
width: 100%;
max-width: 400px;
font-size: 22px;
padding: 12px;
}

#contact button {
font-size: 20px;
}
}

@media screen and (min-width: 993px) {


    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pink-button {
        background-color: #db055b;
        color: #fff;
        padding: 20px 40px;
        border: none;
        border-radius: 10px;
        font-size: 24px;
        cursor: pointer;
        font-family: 'Trench';
    }
    .pink-button {
        padding: 15px 30px;
        font-size: 18px;
        border-radius: 10px;
        text-decoration: none;
        color: #fff;
        background-color: #db055b;
        transition: color 0.3s ease-in-out, box-shadow 0.1s ease-in-out; 
    }
    
    .pink-button:hover {
        color: white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 1); 
    }


    .object-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .object {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px;
    }

    .circle {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ea0451;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .rounded-box {
        width: 150px;
        height: 45px;
        background-color: #ea0451;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .rounded-box p {
        font-family: 'Trench';
        color: #fff;
        font-size: 16px;
        margin: 0;
    }
    
    .bandage-icon {
        width: 80px;
        height: 80px;
    }

    .map-icon {
        width: 250px;
        height: 250px;
    }

    .computer-icon {
        width: 250px;
        height: 250px;
    }

    .hands-icon {
        width: 170px;
        height: 170px;
    }
}


